.c-Availability {
  display: flex;
  align-items: stretch;
}

  .c-Availability__People {
    margin: 0;
    padding: 0;

    flex-grow: 0;
  }

  .c-Availability__List {
    overflow: hidden;
    position: relative;
    margin: 0 0 0 1em;
    padding: 0;

    flex-grow: 1;
  }

  .c-Availability__List:after {
    content: '';

    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;

    border-right: solid 2px var(--grey-beige);
  }

  .c-Availability__Row {
    position: relative;
    height: 48px;
    margin-bottom: 0.313em;

    transform: translateX(50%);
  }

  .c-Availability__Day {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;

    padding: 0.5em 0;
  }
