:root {
  --unavailable: var(--retro-effect-ii);
  --awake: var(--orange-sorbet);
  --available: var(--minty-peas);
}

.c-AvailabilityBar {
  position: relative;
  height: 100%;
  width: 100%;
}

  .c-AvailabilityBar__Unavailable,
  .c-AvailabilityBar__Awake,
  .c-AvailabilityBar__Available {
    position: absolute;
    height: 100%;
  }

  .c-AvailabilityBar__Unavailable {
    left: 1px;
    right: 1px;

    border: solid 0.125em var(--unavailable-border);
    border-radius: 2em;

    background: var(--unavailable);
  }

  .c-AvailabilityBar__Awake {
    border: solid 0.125em var(--awake-border);
    background: var(--awake);
  }

  .c-AvailabilityBar__Available {
    border: solid 1px var(--available-border);
    background: var(--available);
  }

  .c-AvailabilityBar__Day {
    position: relative;
    top: 50%;

    color: white;
    text-align: center;

    text-shadow: 0 1px 2px black;

    transform: translateY(-50%);
  }
