.c-Availability {
  padding: 0;
  margin: 0;

  list-style: none;
}

  .c-Availability__Row {
    position: relative;
    overflow: hidden;
    height: 48px;
    margin-bottom: 0.313em;
  }

  .c-Availability__Day {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 15em;

    padding: 0.5em 0;
  }
