:root {
  --unavailable: var(--all-that-i-believe);
  --awake: rgba(255, 255, 255, 0.3);
  --available: var(--you-can-trust-me);
}

.c-AvailabilityBar {
  position: relative;
  height: 100%;
  width: 100%;
}

  .c-AvailabilityBar__Unavailable,
  .c-AvailabilityBar__Awake,
  .c-AvailabilityBar__Available {
    position: absolute;
    height: 100%;

    border-bottom: solid 3px rgba(0, 0, 0, 0.1);
  }

  .c-AvailabilityBar__Unavailable {
    left: 1px;
    right: 1px;

    border-radius: 0.813em;

    background: var(--unavailable);
  }

  .c-AvailabilityBar__Awake {
    background: var(--awake);
  }

  .c-AvailabilityBar__Available {
    background: var(--available);
  }

  .c-AvailabilityBar__Day {
    position: relative;
    top: 50%;

    font-size: 0.813em;
    font-weight: 900;
    text-align: center;

    transform: translateY(-50%);
  }
