html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

@import "palette.css";
@import "typography.css";

/* Objects */
@import "avatar.css";

/* Components */
@import "availability.css";
@import "availability-bar.css";
@import "local-time.css";
@import "people.css";
@import "person.css";

.c-Main {
  margin: 0 auto;
  width: 900px;
}
