/* Variables */
@import "palette.css";
@import "breakpoints.css";

/* Base */
@import "reset.css";
@import "typography.css";
@import "util.css";

/* Objects */
@import "avatar.css";

/* Components */
@import "availability.css";
@import "availability-bar.css";
@import "local-time.css";
@import "people.css";
@import "person.css";
@import "time-inspector.css";

.c-Main {
  padding: 1em;
  margin: 0 auto;
  max-width: 900px;
}
