:root {
  /* Green */
  --minty-peas: #17a768;

  /* Red */
  --retro-effect-ii: #f1601d;

  /* Orange */
  --orange-sorbet: #f1d11d;

  /* Light beige */
  --beige-grey: #e7e0d2;

  /* Dark beige */
  --grey-beige: #bbae93;
}
