:root {
  /* Dark Brown */
  --nothing-much: #5a545c;

  /* Red Brown */
  --miss-maudie-atkins: #a06a74;

  /* Pinkish */
  --all-that-i-believe: #d6b6ad;

  /* Tan */
  --moth: #dbd1bd;

  /* Green */
  --you-can-trust-me: #dee5c4;
}
